* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
    --bg-page:#FFF;
    --color-text:#000;
    --color-span:#D2F65A;
    --bg-app:#FFF;
    --bg-block:#F8F8F8;
    --color-p:#191919;
    --color-subtitle:#191919b3;
}
body,button,input {
    font-family: 'Clash Display', sans-serif;
}
.page,.pageTwo {
    font-size: 1.6rem;
    max-width: 1200px;
    background-color: var(--bg-page);
    margin: 0 auto;
    color: var(--color-text);
    font-family: 'Clash Display', sans-serif;
    padding: 0 2rem 0 2rem;
}
.pageThree {
    width: 100%;
    margin: 0 auto;
    font-family: 'Clash Display', sans-serif;
    color: var(--color-text);
    padding: 0 2rem 0 2rem;
}
.grid-banner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.pageFour {
    width: 100%;
    margin: 0 auto;
    font-family: 'Clash Display', sans-serif;
    background-color: var(--color-text);
    color: var(--bg-app);
    padding: 0 2rem 0 2rem;
}
.menu {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 12rem 0 17rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.title .title-main {
    width:100%;
}
.title .subtitle {
    margin-top: .2rem;
    margin-left: -.23rem;
    font-weight: 500;
    line-height: 5.76rem;
    font-size: 3.1rem;
    margin-bottom: 11.6rem;
}
.container-stats {
    display: flex;
    flex-direction: row;
    gap: 6.8rem;
    margin-bottom: 14rem;
    margin-left: 8rem;
}
.container-logos {
    display: flex;
    flex-direction: row;
    margin-left: 7.5rem;
    align-items: center;
    gap: 29%;
    margin-bottom: 5rem;
    width: 80%;
}
.box-logo0 {
    width: 18%;
}
.img0 {
    height: 1rem;
}
.img1 {
    height: 2rem;
}
.img2 {
    height: 2rem;
}
.img3 {
    height: 2.5rem;
}
.img4 {
    height: 2rem;
}
.img5 {
    height: 2rem;
}
.box {
    border-top:2px solid #000;
    padding-right: 3.4%;
    width: 18%;
} 
.box .type {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3rem;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    margin-bottom: .8rem ;
    
}
.first_span {
    color: var(--color-span);
}
.box .value {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 1px;
}
.pageTwo {
    padding: 7rem 7rem;
    
    display: flex;
    gap: 25%;

    position: relative;

}
.imgDesigner{
    position: absolute;
    max-width: 15rem;
    bottom: 7rem;
    width: 100%;
    display: flex;
    padding-right: 1.6rem;
    align-items: center;
    gap: 1.6rem;
   }
.finn {
    width:40%;
    height: 10%;
}
.finnH1 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}
.finnP {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(25, 25, 25, 0.70);
    white-space: nowrap;
}

.grid-left {
    margin-top: 4rem;
    flex-direction: column;
    height: 100%;

}
.title-main-page2 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: 1px;    
}
.imgRose {
    width: 10%;
}
.grid-right {
    margin-top: 4rem;
    width: 75%;
    height: 80%;
}
.blockOne,.blockTwo,.blockThree {
    background: var(--bg-block);
    position: relative;
    padding: 3rem;
    width: 100%;
    height: 20%;
    margin-bottom: 2rem;
}
.blockThree {
    margin-bottom: 0;
}
.imgBadge {
    position: absolute;
    height: 40%;
    left: 90%;
    bottom: 75%;
}
.titleOne,.titleTwo,.titleThree {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2rem;
    color: var(--color-h);
    font-weight: 500;
    line-height: 3.84rem;
    letter-spacing: 1px;
}
.groupOne,.groupTwo,.groupThree {
    display: flex;
    align-items: center;
    max-width: 12rem;
    gap: 13rem;
}
.groupOne {
    gap: 19rem;
}


.descrition {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    color: var(--color-p);
}

.scrollOne {
    display: flex;
    width: calc(100% + 6rem);
    margin-top: 4rem;
    margin-left: -4rem;
    margin-bottom: 4rem;
    border-top: 2px solid var(--color-text);
    overflow-x: hidden;
    
    .animation-head {
      font-size: 4.8rem;
      font-weight: 500;
      line-height: 5.7rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      white-space: nowrap;
      color: var(--color-text);
      background-color: #fff;
      animation: animate 40s -40s linear infinite;
      will-change: transform;
      
      &:nth-child(2) {
        animation: animate2 40s -20s linear infinite;
      }
    }
  }
.scrollTwo {
    display: flex;
    width: 100%;
    padding: 1.2rem 0px;
    align-items: flex-start;
    gap: 10px; 
    align-items: center;
    position: relative;
    background: var(--color-span);
    overflow: hidden;
    white-space: nowrap;
    
    .animation-banner {
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2rem;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      white-space: nowrap;
      color: var(--color-text);
      animation: animate 40s -40s linear infinite;
      will-change: transform;
      
      &:nth-child(2) {
        animation: animate2 40s -20s linear infinite;
      }
    }
  }
  
.banner {
    width: 100%;
}

.imgBanner {
    width: 100%; 
    align-items: center;
    justify-content: center;
}
.imgBanner {
    border: 4px solid transparent; 
    border-width: 0;
    transition: border-color 0.3s ease; 
}
.pack {
    margin-top: .6rem;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 9rem;
}
.imgPackOne {
    width: 100%;
    
}
.titlePack {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.subtitlePack {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-style: normal;
    color: var(--color-subtitle);
    font-weight: 500;
    line-height: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase
}
.imgPackTwo {
    width: 100%;
}
.imgPackOne, .imgPackTwo{
    border: 4px solid transparent; 
    transition: border-color 0.3s ease; 
    border-width: 0;
}
.imgPackOne:hover, .imgPackTwo:hover, .imgBanner:hover{
    transform: scale(1.02); 
    border-color: var(--color-span);
    border-width: 4px;
}
.scrollThree {
    width: calc(100% + 6rem);
    margin-left: -4rem;
    padding: 1.2rem 4rem;
    display: flex;
    gap: 10px; 
    align-items: center;
    position: relative;
    background: var(--color-span); 
    overflow-x: hidden;
    white-space: nowrap;

    
    .animation-pageFour {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.2rem;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      white-space: nowrap;
      color: var(--color-text);
      animation: animate 40s -40s linear infinite;
      will-change: transform;
      
      &:nth-child(2) {
        animation: animate2 40s -20s linear infinite;
      }
    }
  }

.titleMenu{
    font-size: 9.6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 3.2rem auto;
  }

.buttonMenu {
    padding: 1.4rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-span);
    border: none;

    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;

    cursor: pointer;
    transition: filter 0.3s ease;
    
  }
.buttonMenu:hover,
.buttonMenu:active {
    filter: brightness(80%);
  }
.retangle {
    width: 1.6rem;
    height: .1rem;
    background-color: var(--color-text);
  }

  /* ANIMAÇÕES */

@keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
@keyframes animate2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  

@media(max-width:1080px) {
    .container-stats {
        flex-flow: row wrap;
    }
    .box2 {
        margin-left: -3rem;
    }
    .container-logos {
        gap: 28%;
        margin-left: 6.5rem;
    }
    .groupOne,.groupTwo,.groupThree {
        max-width: 10rem;
        gap: 7rem;
    }
    .groupOne {
        gap: 14rem;
    }
    .pageTwo {
        gap: 0;
    }
    .imgDesigner {
        width: 40%;
    }
    .distance {
        gap: 32.7rem;
    }
}
@media(max-width: 850px) {
    .subtitle {
        margin-bottom: 7rem;
    }
    .container-stats{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .box {
        width: 30%;
    }
    .container-logos{
        margin-top: -9rem;
        margin-bottom: 5rem;
        width: 100%;
        margin-left: 0;
        justify-content: center;
        gap: 26%;
    }
    .groupOne,.groupTwo,.groupThree {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .groupThree {
        margin-right: 1rem;
    }
    .img1 {
        margin-left: 8rem;
    }
    .box2 {
        margin-left: 0;
    }
    .pageTwo {
        flex-direction: column;
        align-items: center;
        padding: 0;
        position: static;
    }
    .grid-left {
        margin: 0;
    }
    .imgDesigner {
        position: static;
        margin: 4rem 20rem;
    }
    .finn {
        width:100%;
    }
    .finnH1 {
        font-size: 2rem;
    }
    .finnP {
        width: 100%;
        font-size: 1rem;
    }
    .imgRose {
        margin-left: 2rem;
    }
    .title-main-page2 {
        font-size: 7rem;
        line-height: 7rem;
        letter-spacing: 3px; 
        margin-left: 4rem;   
    }
    .distance {
        align-items: center;
    }
    .blockThree {
        margin-bottom: 2rem;
    }
    .imgPackOne:hover, .imgPackTwo:hover, .imgBanner:hover{
        transform: scale(1.05);
        border-width: 5px;
    }
}
@media(max-width: 540px) {
    .container-stats{
        flex-direction: column;
        border-width: 30rem 0;
        align-items: center;
    }
    .box {
        width: 20rem;
    }
    .container-logos{
       align-items: center;
       justify-content: center;
       gap: 15%;
       margin-left: -2rem;
    }
    .groupOne,.groupTwo,.groupThree {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .groupThree {
        margin-left: -4rem;
    }
    .title-main {
        margin-left: 0;
    }
    .title-main-page2 {
        margin-left: 10rem;
        font-size: 5.5rem;
        line-height: 6rem;
    }
    .imgRose {
        margin-left: 9.5rem;
    }
    .imgDesigner {
        width: 100%;
        margin-left: 15rem;
        margin-bottom: 5rem;
    }

    .imgBadge {
        height: 30%;
        left: 87%;
        bottom: 85%;
    }
    .pack {
        margin-top: .6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 9rem;
    }
}
